<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholars.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.scholars.pojo.Course" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="coursename" property="coursename" jdbcType="VARCHAR" />
    <result column="coursetype" property="coursetype" jdbcType="VARCHAR" />
    <result column="studyperson" property="studyperson" jdbcType="VARCHAR" />
    <result column="scores" property="scores" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="dateline" property="dateline" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scholars.pojo.Course" extends="BaseResultMap" >
    <result column="coursecontents" property="coursecontents" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, coursename, coursetype, studyperson, scores, memo, createTime, modifyTime, dateline, 
    author
  </sql>
  <sql id="Blob_Column_List" >
    coursecontents
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.scholars.pojo.CourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.scholars.pojo.CourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.scholars.pojo.CourseExample" >
    delete from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scholars.pojo.Course" >
    insert into course (id, coursename, coursetype, 
      studyperson, scores, memo, 
      createTime, modifyTime, dateline, 
      author, coursecontents)
    values (#{id,jdbcType=BIGINT}, #{coursename,jdbcType=VARCHAR}, #{coursetype,jdbcType=VARCHAR}, 
      #{studyperson,jdbcType=VARCHAR}, #{scores,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP}, #{dateline,jdbcType=TIMESTAMP}, 
      #{author,jdbcType=VARCHAR}, #{coursecontents,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scholars.pojo.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coursename != null" >
        coursename,
      </if>
      <if test="coursetype != null" >
        coursetype,
      </if>
      <if test="studyperson != null" >
        studyperson,
      </if>
      <if test="scores != null" >
        scores,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="modifytime != null" >
        modifyTime,
      </if>
      <if test="dateline != null" >
        dateline,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="coursecontents != null" >
        coursecontents,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="coursename != null" >
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursetype != null" >
        #{coursetype,jdbcType=VARCHAR},
      </if>
      <if test="studyperson != null" >
        #{studyperson,jdbcType=VARCHAR},
      </if>
      <if test="scores != null" >
        #{scores,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="dateline != null" >
        #{dateline,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="coursecontents != null" >
        #{coursecontents,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scholars.pojo.CourseExample" resultType="java.lang.Integer" >
    select count(*) from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.coursename != null" >
        coursename = #{record.coursename,jdbcType=VARCHAR},
      </if>
      <if test="record.coursetype != null" >
        coursetype = #{record.coursetype,jdbcType=VARCHAR},
      </if>
      <if test="record.studyperson != null" >
        studyperson = #{record.studyperson,jdbcType=VARCHAR},
      </if>
      <if test="record.scores != null" >
        scores = #{record.scores,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifytime != null" >
        modifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dateline != null" >
        dateline = #{record.dateline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.coursecontents != null" >
        coursecontents = #{record.coursecontents,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update course
    set id = #{record.id,jdbcType=BIGINT},
      coursename = #{record.coursename,jdbcType=VARCHAR},
      coursetype = #{record.coursetype,jdbcType=VARCHAR},
      studyperson = #{record.studyperson,jdbcType=VARCHAR},
      scores = #{record.scores,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      modifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      dateline = #{record.dateline,jdbcType=TIMESTAMP},
      author = #{record.author,jdbcType=VARCHAR},
      coursecontents = #{record.coursecontents,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course
    set id = #{record.id,jdbcType=BIGINT},
      coursename = #{record.coursename,jdbcType=VARCHAR},
      coursetype = #{record.coursetype,jdbcType=VARCHAR},
      studyperson = #{record.studyperson,jdbcType=VARCHAR},
      scores = #{record.scores,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      modifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      dateline = #{record.dateline,jdbcType=TIMESTAMP},
      author = #{record.author,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scholars.pojo.Course" >
    update course
    <set >
      <if test="coursename != null" >
        coursename = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursetype != null" >
        coursetype = #{coursetype,jdbcType=VARCHAR},
      </if>
      <if test="studyperson != null" >
        studyperson = #{studyperson,jdbcType=VARCHAR},
      </if>
      <if test="scores != null" >
        scores = #{scores,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="dateline != null" >
        dateline = #{dateline,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="coursecontents != null" >
        coursecontents = #{coursecontents,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scholars.pojo.Course" >
    update course
    set coursename = #{coursename,jdbcType=VARCHAR},
      coursetype = #{coursetype,jdbcType=VARCHAR},
      studyperson = #{studyperson,jdbcType=VARCHAR},
      scores = #{scores,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      dateline = #{dateline,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      coursecontents = #{coursecontents,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scholars.pojo.Course" >
    update course
    set coursename = #{coursename,jdbcType=VARCHAR},
      coursetype = #{coursetype,jdbcType=VARCHAR},
      studyperson = #{studyperson,jdbcType=VARCHAR},
      scores = #{scores,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      dateline = #{dateline,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>